      <!-- Static navbar -->
      <!-- <div class="navbar navbar-default">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" routerLink="/">{{title}}</a>
          </div>
          <div id="main-navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
                  <li><a routerLink="search">Search</a></li>
              </ul>

          </div>
      </div> -->


      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">{{title}}</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="search">Search</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main" style="padding-top:90px;">
      <div class="container content">
        <router-outlet></router-outlet>
      </div>
    </div>
