/node_modules
dist/
*_pb.js
package-lock.json
.vscode
bazel-bin
bazel-genfiles
bazel-grpc-web
bazel-out
bazel-testlogs
*.o
protoc-gen-*
.DS_Store
target
.project
.classpath
.settings
zig-out
zig-cache
/doc
javascript
/kokoro
/scripts
test
/third_party